<ion-view title="Account" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="account-list7">
      <ion-item class="item-avatar" id="account-list-item14" style="">
        <h2>Primary Account</h2>
        <p>example@email.com</p>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="account-toggle1">Location</ion-toggle>
    </ion-list>
    <form id="account-form7" class="list">
      <ion-toggle toggle-class="toggle-positive" id="account-toggle2">Privacy</ion-toggle>
    </form>
    <a ui-sref="signedOut()" id="account-button23" class="button button-positive button-block">Sign Out</a>
  </ion-content>
</ion-view>