<ion-view title="Camera " id="page2" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3hSK4axYSXecPjGb7L35_Derp_Dog.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="camera-form4" class="list">
      <ion-item class="range range-positive" id="camera-range2">Range
        <input value="50" min="0" max="100" step="1" type="range">
      </ion-item>
      <div class="spacer" style="width: 283px; height: 53px;"></div>
    </form>
    <button id="camera-button10" class="button button-positive button-block">Capture</button>
    <a ui-sref="tabs.home()" id="camera-button14" class="button button-positive button-block">Post</a>
  </ion-content>
</ion-view>