<ion-view title="Cart" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list3">
      <ion-item id="cart-list-item7" style="">Jello MIx</ion-item>
      <ion-item id="cart-list-item8" style="">Wrestling Ring</ion-item>
      <ion-item id="cart-list-item9" style="">Helpers</ion-item>
    </ion-list>
    <ion-list id="cart-list4">
      <ion-item id="cart-list-item10" style="">Wrestler</ion-item>
      <ion-item id="cart-list-item11" style="">Wrestler</ion-item>
      <ion-item id="cart-list-item12" style="">T-Shirt</ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 57px;"></div>
    <div id="cart-button-bar1" class="button-bar">
      <button id="cart-button7" class="button button-positive button-block">Back</button>
      <button id="cart-button8" class="button button-positive button-block">Edit</button>
      <button id="cart-button9" style="font-size:-6px;" class="button button-positive button-block">Buy</button>
    </div>
  </ion-content>
</ion-view>