<ion-view title="Cloud" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <form id="cloud-form6" class="list">
      <label class="item item-input" id="cloud-search2" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search for a file" type="search">
      </label>
    </form>
    <ion-list id="cloud-list8">
      <ion-item id="cloud-list-item20" style="">File 1</ion-item>
      <ion-item id="cloud-list-item21" style="">Video 1</ion-item>
      <ion-item id="cloud-list-item22" style="">Picture 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>